# EN SPARK - RDD

In [21]:
import time
import numpy as np
N_point  = 400000

lst_x = np.random.randn(N_point)
lst_y = np.random.randn(N_point)

In [22]:
t1=time.time()

from math import sin

lst_results = []
for i in range(N_point):
    x = lst_x[i]
    y = lst_y[i]
    if (x>0.5 and y<0.3):
        lst_results.append(sin(x-y))
    elif (x>0.5*y):
        lst_results.append(0)
    elif (x>0.2*y):
        lst_results.append(2*sin(x+2*y))
    else:
        lst_results.append(sin(x+y))

t2=time.time()
print("\nTime taken by the plain vanilla for-loop\n----------------------------------------------\n{} seconds".format((t2-t1)))

Time taken by the plain vanilla for-loop
----------------------------------------------
0.4478006362915039 seconds

In [23]:
def myfunc(x,y):    
    if (x>0.5 and y<0.3):
        return(sin(x-y))
    elif (x>0.5*y):
        return(0)
    elif (x>0.2*y):
        return(2*sin(x+2*y))
    else:
        return(sin(x+y))

In [24]:
t1=time.time()
[myfunc(x,y) for x,y in zip(lst_x,lst_y)] 
t2=time.time()
print("\nTime taken by the list comprehension\n----------------------------------------------\n{} seconds".format((t2-t1)))

Time taken by the list comprehension
----------------------------------------------
0.34906506538391113 seconds

In [25]:
t1=time.time()
list(map(myfunc,lst_x,lst_y))
t2=time.time()
print("\nTime taken by the map function\n----------------------------------------------\n {} seconds".format((t2-t1)))

Time taken by the map function
----------------------------------------------
 0.3141653537750244 seconds

In [26]:
import numpy as np

In [27]:
t1=time.time()
np.vectorize(myfunc)(lst_x,lst_y)
t2=time.time()
print("\nTime taken by the numpy.vectorize\n----------------------------------------------\n {} seconds".format((t2-t1)))

Time taken by the numpy.vectorize
----------------------------------------------
 0.16259169578552246 seconds

---

# DATAFRAME de PYTHON - DATAFRAMES de SPARK

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'Clientes':['Pedro','Joaquin','Jose','Joanito'],
                  'Gastos':[10.5,3.6,7.4,8.3]})

In [2]:
df

  Clientes  Gastos
0    Pedro    10.5
1  Joaquin     3.6
2     Jose     7.4
3  Joanito     8.3

In [5]:
df2= pd.concat([df]*100000).reset_index(drop=True)

In [6]:
df2

       Clientes  Gastos
0         Pedro    10.5
1       Joaquin     3.6
2          Jose     7.4
3       Joanito     8.3
4         Pedro    10.5
...         ...     ...
399995  Joanito     8.3
399996    Pedro    10.5
399997  Joaquin     3.6
399998     Jose     7.4
399999  Joanito     8.3

[400000 rows x 2 columns]

In [ ]:
if gastos> 100:
    'A'
else:
    'B'

In [10]:
df2['Gastos'].mean()

7.449999999991988

In [13]:
import time
t1=time.time()
df2['Gastos'].apply(lambda gastos: 'A' if gastos > 8.5 else 'B')
t2=time.time()
print("\nTime taken by the df.apply\n----------------------------------------------\n {} seconds".format((t2-t1)))

Time taken by the df.apply
----------------------------------------------
 0.06781840324401855 seconds

In [28]:
t1=time.time()
np.vectorize(lambda gastos: 'A' if gastos > 8.5 else 'B')(df2['Gastos'])
t2=time.time()
print("\nTime taken by the df.apply\n----------------------------------------------\n {} seconds".format((t2-t1)))

Time taken by the df.apply
----------------------------------------------
 0.08178162574768066 seconds