Author: Prof. Manoel Gadi

Contact: mfalonso@faculty.ie.edu

Teaching Web: http://mfalonso.pythonanywhere.com

Last revision: 5/February/2021

# Map, Filter and Reduce in Basic Python

please watch this two videos to understand how they can be applied via map, filter and reduce functions:
 
Lambda expression : https://www.youtube.com/watch?v=25ovCm9jKfA

Map, Filter, and Reduce Functions to an array in Ptyhon: https://www.youtube.com/watch?v=hUes6y2b--0

Let's have a look at this SQL example:

SQL: Select sum(x*2) from mytable_withintegers_from_negative100_to_100 where x > 0;

Now let's see the same example USING LAMBDA, MAP, REDUCE and FILTER:

In [ ]:
from functools import reduce
reduce(lambda x,y: x+y,map(lambda x: x*2,filter(lambda x: x>0, list(range(-100,100)))))

9900

__QUESTION 1)__ 
* USING filter, create a sequence of the first 10,000 numbers which it square is divisible by 3 (from 0 to 9999).
* THEN using map, divide those numbers by 3 and subtract - 4
* FINALLY using reduce, aggregate all numbers by calculating the average of the numbers. Remember to import reduce from functools
* Your final result should be: 1662.5

__QUESTION 2)__ 
* Create a random sample of 100 numbers between 0 and a 1000 and keep the values that are lower than the mean.
* Then use map to get the square root...
* Finally use reduce to add up every value in the list.

__QUESTION 3)__
* USING filter, create a sequence of the first 1,000 numbers which are even.
* THEN using map, multiply those numbers by 5 and subtract - 2
* FINALLY using reduce, aggregate all numbers by calculating the square rooot of the numbers.
* Result should be 71.127 ( rounded at 3 decimal positions)

__QUESTION 4)__
* FIRST using filter: extract odd numbers from a sequence of numbers from 1 to 1000 in steps of 3
* THEN using map: calculate the square of those numbers
* FINALLY using reduce: sum those numbers
* The result should be 55555055

__QUESTION 5)__
* Using filter, create a sequence of odd numbers numbers up until 10
* Using map, get the square root of these numbers and add 3
* Using reduce, calculate the multiply all these numbers
* The result should be 3357.28075449474

---

__SOLUTION QUESTION 1)__

In [13]:
#USING filter, create a sequence of the first 10,000 numbers which it square is divisible by 3 (from 0 to 9999).
results_iterator1 = filter(lambda x: x**2 % 3 == 0,range(10000))

print(len(list(results_iterator1)))

3334

In [14]:
#USING filter, create a sequence of the first 10,000 numbers which it square is divisible by 3 (from 0 to 9999).
results_iterator1 = filter(lambda x: x**2 % 3 == 0,range(10000))

#THEN using map, divide those numbers by 3 and subtract - 4
results_iterator2 = map(lambda x: x/3-4,results_iterator1)

#FINALLY using reduce, aggregate all numbers by calculating the average of the numbers. Remember to import reduce from functools
from functools import reduce
print(reduce(lambda x, y: (x + y), results_iterator2)/3334)

1662.5

__SOLUTION QUESTION 2)__

In [ ]:
import random
import  numpy as np
data = random.sample(range(0, 1001), 100)
rs1 = list(filter(lambda x: x < np.mean(data),data));

import math
rs2 = list(map(lambda x: math.sqrt(x),rs1))

from functools import reduce
print(reduce(lambda x,y: x + y, rs2))  

#same as doing a for loop...
x = 0
for i in rs2:    
    x = x + i
print(x)

805.1471305052929
805.1471305052929

__SOLUTION QUESTION 3)__

In [17]:
results_iterator1 = filter(lambda x: x % 2 == 0,range(1000))
results_iterator2 = map(lambda x: x*5-2,results_iterator1)
from functools import reduce
import math
print(round(math.sqrt(reduce(lambda x, y: x + y, results_iterator2)),3))

1116.468

__SOLUTION QUESTION 4)__

In [ ]:

# using filter: extract odd numbers from a sequence of numbers from 1 to 1000 in steps of 3
odds = filter(lambda x: x % 2 or x==1, range(1,1000,3))
#  using map: calculate the square of those numbers
odds_power_2 = map(lambda x: x*x,odds)
# using reduce: sum those numbers   
from functools import reduce
print(reduce(lambda x, y: (x + y), odds_power_2))

55555055

__SOLUTION QUESTION 5)__

In [ ]:
from functools import reduce

from math import sqrt

#create a sequence of numbers from 1-500 where results are odd
nums = filter(lambda x: x % 2 != 0,range(10))

 
#using map get the square root of these numbers and add 3
map_nums = map(lambda x: sqrt(x) + 3,nums)


#using reduce multiply all numbers
print(reduce(lambda x, y: (x*y), map_nums))

3357.28075449474