# Introducción a Spark Dataframe
## Exploratory Data Analysis con PySpark y Spark DF

In [1]:
import findspark
findspark.init()
import pyspark
sc = pyspark.SparkContext(appName="SparkDFBasics")
from pyspark.sql.session import SparkSession
spark = SparkSession(sc)

22/03/25 11:27:43 WARN Utils: Your hostname, mgadi-ThinkPad-T470s-W10DG resolves to a loopback address: 127.0.1.1; using 192.168.1.113 instead (on interface wlp58s0)
22/03/25 11:27:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/mgadi/anaconda3/lib/python3.8/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/25 11:27:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/25 11:27:47 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("anorexia.csv")

In [3]:
type(df)

pyspark.sql.dataframe.DataFrame

In [4]:
df.count()

72

In [5]:
# columns of dataframe
df.columns

['ID', 'group', 'prewt', 'postwt', 'difwt']

In [6]:
#printSchema
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- group: integer (nullable = true)
 |-- prewt: double (nullable = true)
 |-- postwt: double (nullable = true)
 |-- difwt: double (nullable = true)

In [7]:
#number of records in dataframe
df.count()

72

In [8]:
#shape of dataset - df.shape
print((df.count(),len(df.columns)))

(72, 5)

In [9]:
#fisrt few rows of dataframe - df.head(5)
df.show(5)

+---+-----+-----+------+-----+
| ID|group|prewt|postwt|difwt|
+---+-----+-----+------+-----+
|101|    1| 80.5|  82.2|  1.7|
|201|    2| 80.7|  80.2| -0.5|
|301|    3| 83.8|  95.2| 11.4|
|102|    1| 84.9|  85.6|  0.7|
|202|    2| 89.4|  80.1| -9.3|
+---+-----+-----+------+-----+
only showing top 5 rows

# Estadísticas descriptivas

La estadística descriptiva es el proceso de describir la muestra.
Para ello, se utilizan medidas de centralidad, medidas de dispersión, forma de distribución y valores atípicos.
Las visualizaciones también se pueden utilizar para explorar y dar sentido a los datos.


# Estadísticas descriptivas

La estadística descriptiva es el proceso de describir la muestra.
Para ello, se utilizan medidas de centralidad, medidas de dispersión, forma de distribución y valores atípicos.
Las visualizaciones también se pueden utilizar para explorar y dar sentido a los datos.


## PARTE 1 - Medidas de tendencia central

### Media (media aritmética o media aritmética)

La media (o promedio) es la medida más popular y conocida de tendencia central. Se puede utilizar tanto con datos discretos como continuos, aunque su uso es más frecuente con datos continuos. El promedio es igual a la suma de todos los valores del conjunto de datos dividido por el número de valores del conjunto de datos. Por lo tanto, si tenemos n valores en un conjunto de datos y tienen valores x1, x2, ..., xn, la media de la muestra, generalmente denotada por (se pronuncia x barra):

\begin{equation*}
\overline{x} =
\frac{( x_1 + x_2 + ... + x_n )} {N}
\end{equation*}

Esta fórmula generalmente se escribe de una manera ligeramente diferente usando la letra mayúscula griega, que se pronuncia "sigma", que significa "suma de ...":

\begin{equation*}
\overline{x} = \frac{\left( \sum_{k=1}^n x_k \right)} {N}
\end{equation*}

Es posible que haya notado que la fórmula anterior se refiere a la media de la muestra. Entonces, ¿por qué lo hemos llamado media muestral? Esto se debe a que, en estadística, las muestras y las poblaciones tienen significados muy diferentes y estas diferencias son muy importantes, incluso si, en el caso de la media, se calculan de la misma manera. Para reconocer que estamos calculando la media de la población y no la media de la muestra, usamos la letra griega minúscula "mu", indicada como µ:

\begin{equation*}
\mu = \frac{\left( \sum_{k=1}^n x_k \right)} {N}
\end{equation*}

### Min

El mínimo representa el valor más pequeño de un conjunto de datos. Luego calculamos el rango como:

\begin{equation*}
Min = [Minimum value]
\end{equation*}

### Max

El máximo representa el valor más grande en un conjunto de datos. Luego calculamos el rango como:

\begin{equation*}
Max = [Maximum Value]
\end{equation*}

### Standard Deviation

La desviación estándar mide la dispersión de los datos alrededor del valor promedio. Es útil para comparar conjuntos de datos que pueden tener la misma media pero un rango diferente.

\begin{equation*}
Standard.Deviation = \sqrt{\frac{1}{N-1} \sum_{i=1}^N (x_i - \overline{x})^2}
\end{equation*}

In [10]:
type(df)

pyspark.sql.dataframe.DataFrame

In [12]:
df.select('prewt').show(2)

+-----+
|prewt|
+-----+
| 80.5|
| 80.7|
+-----+
only showing top 2 rows

In [15]:
# df['prewt'].describe()en pandas
df.select('prewt').describe().show()

+-------+-----------------+
|summary|            prewt|
+-------+-----------------+
|  count|               72|
|   mean|82.40833333333333|
| stddev|5.182466376782281|
|    min|             70.0|
|    max|             94.9|
+-------+-----------------+

In [16]:
df.select('prewt').describe().show()

+-------+-----------------+
|summary|            prewt|
+-------+-----------------+
|  count|               72|
|   mean|82.40833333333333|
| stddev|5.182466376782281|
|    min|             70.0|
|    max|             94.9|
+-------+-----------------+

In [17]:
df.select('postwt').describe().show()

+-------+-----------------+
|summary|           postwt|
+-------+-----------------+
|  count|               72|
|   mean|85.17222222222222|
| stddev|8.035173069684369|
|    min|             71.3|
|    max|            103.6|
+-------+-----------------+

In [19]:
df.select('prewt', 'postwt', 'difwt').describe().show()

+-------+-----------------+-----------------+------------------+
|summary|            prewt|           postwt|             difwt|
+-------+-----------------+-----------------+------------------+
|  count|               72|               72|                72|
|   mean|82.40833333333333|85.17222222222222|2.7638888888888897|
| stddev|5.182466376782281|8.035173069684369| 7.983597719753965|
|    min|             70.0|             71.3|             -12.2|
|    max|             94.9|            103.6|              21.5|
+-------+-----------------+-----------------+------------------+

In [20]:
df.select(['prewt', 'postwt', 'difwt']).describe().show()

+-------+-----------------+-----------------+------------------+
|summary|            prewt|           postwt|             difwt|
+-------+-----------------+-----------------+------------------+
|  count|               72|               72|                72|
|   mean|82.40833333333333|85.17222222222222|2.7638888888888897|
| stddev|5.182466376782281|8.035173069684369| 7.983597719753965|
|    min|             70.0|             71.3|             -12.2|
|    max|             94.9|            103.6|              21.5|
+-------+-----------------+-----------------+------------------+

In [21]:
df.describe().show()

+-------+------------------+------------------+-----------------+-----------------+------------------+
|summary|                ID|             group|            prewt|           postwt|             difwt|
+-------+------------------+------------------+-----------------+-----------------+------------------+
|  count|                72|                72|               72|               72|                72|
|   mean|197.73611111111111|1.8333333333333333|82.40833333333333|85.17222222222222|2.7638888888888897|
| stddev|  76.4954188180998|0.7872218936609645|5.182466376782281|8.035173069684369| 7.983597719753965|
|    min|               101|                 1|             70.0|             71.3|             -12.2|
|    max|               317|                 3|             94.9|            103.6|              21.5|
+-------+------------------+------------------+-----------------+-----------------+------------------+

# The treatments

Columna __grupo__. Según https://stat.ethz.ch/R-manual/R-devel/library/MASS/html/anorexia.html, nuestra base de datos anorexia.csv cambio de peso de datos para pacientes jóvenes con anorexia femenina.
Este conjunto de datos contiene los pesos registrados de pacientes anoréxicos antes y después de un tratamiento.

* Grupo 1: Terapia individual
* Grupo 2: Grupo de control
* Grupo 3: Terapia familiar

La columna Prewt

       Indica el peso del paciente antes del período de estudio, en libras.

Postwt

       Indica el peso del paciente después del período de estudio, en libras.

In [23]:
#select only 2 columns
df.select('ID','group','difwt').show(5)

+---+-----+-----+
| ID|group|difwt|
+---+-----+-----+
|101|    1|  1.7|
|201|    2| -0.5|
|301|    3| 11.4|
|102|    1|  0.7|
|202|    2| -9.3|
+---+-----+-----+
only showing top 5 rows

In [24]:
# Frequence Table - Couting by Distinct Values in a column - df['group'].value_counts()
df.groupBy('group').count().show()

+-----+-----+
|group|count|
+-----+-----+
|    1|   29|
|    3|   17|
|    2|   26|
+-----+-----+

In [31]:
df.select('group','difwt').groupBy('group').mean('difwt').show()

+-----+-------------------+
|group|         avg(difwt)|
+-----+-------------------+
|    1|  3.006896551724138|
|    3|  7.264705882352942|
|    2|-0.4499999999999996|
+-----+-------------------+

In [34]:
# Average by group - df[['group','difwt']].group_by('group')
df.select('group','difwt').groupBy('group').mean('difwt').orderBy('group',ascending=True).show()

+-----+-------------------+
|group|         avg(difwt)|
+-----+-------------------+
|    1|  3.006896551724138|
|    2|-0.4499999999999996|
|    3|  7.264705882352942|
+-----+-------------------+

# Con toda esa información en la mano, ¿qué tratamiento parece funcionar mejor?

---

## Pero sigamos analizando un poco más ...

In [35]:
df.select('group','prewt').show(3)

+-----+-----+
|group|prewt|
+-----+-----+
|    1| 80.5|
|    2| 80.7|
|    3| 83.8|
+-----+-----+
only showing top 3 rows

In [40]:
df.select('group','prewt').groupBy('group').mean('prewt').orderBy('avg(prewt)',ascending=True).show()

+-----+-----------------+
|group|       avg(prewt)|
+-----+-----------------+
|    2| 81.5576923076923|
|    1|82.68965517241381|
|    3|83.22941176470589|
+-----+-----------------+

In [41]:
df.select('group','prewt').groupBy('group').mean().orderBy('group',ascending=True).show()

+-----+----------+-----------------+
|group|avg(group)|       avg(prewt)|
+-----+----------+-----------------+
|    1|       1.0|82.68965517241381|
|    2|       2.0| 81.5576923076923|
|    3|       3.0|83.22941176470589|
+-----+----------+-----------------+

# Frequence Table

In [ ]:
# df['prewt'].value_counts()
# df[['group','prewt']].group_by('group').count()

In [43]:
df.groupBy('group').count().show()

+-----+-----+
|group|count|
+-----+-----+
|    1|   29|
|    3|   17|
|    2|   26|
+-----+-----+

In [44]:
df.groupBy('group').agg({'prewt':'mean'}).show()

+-----+-----------------+
|group|       avg(prewt)|
+-----+-----------------+
|    1|82.68965517241381|
|    3|83.22941176470589|
|    2| 81.5576923076923|
+-----+-----------------+

In [45]:
df.groupBy('group').agg({'prewt':'mean'}).orderBy('group',ascending=True).show()

+-----+-----------------+
|group|       avg(prewt)|
+-----+-----------------+
|    1|82.68965517241381|
|    2| 81.5576923076923|
|    3|83.22941176470589|
+-----+-----------------+

In [46]:
df.groupBy('group').agg({'prewt':'min'}).orderBy('group',ascending=True).show()

+-----+----------+
|group|min(prewt)|
+-----+----------+
|    1|      70.0|
|    2|      70.5|
|    3|      73.4|
+-----+----------+

In [47]:
df.groupBy('group').agg({'prewt':'max'}).orderBy('group',ascending=True).show()

+-----+----------+
|group|max(prewt)|
+-----+----------+
|    1|      94.9|
|    2|      91.8|
|    3|      94.2|
+-----+----------+

In [48]:
df.groupBy('group').agg({'prewt':'std'}).orderBy('group',ascending=True).show()

+-----+-----------------+
|group|    stddev(prewt)|
+-----+-----------------+
|    1|4.845494580947352|
|    2|5.707060404581194|
|    3|5.016692723533399|
+-----+-----------------+

In [49]:
df.columns

['ID', 'group', 'prewt', 'postwt', 'difwt']

In [52]:
a = {'prewt':'mean','prewt':'std','postwt':'max'}
type(a)

dict

In [53]:
a

{'prewt': 'std', 'postwt': 'max'}

In [51]:
df.groupBy('group').agg({'prewt':'mean','prewt':'std','postwt':'max'}).show()

+-----+-----------+-----------------+
|group|max(postwt)|    stddev(prewt)|
+-----+-----------+-----------------+
|    1|      103.6|4.845494580947352|
|    3|      101.6|5.016692723533399|
|    2|       89.6|5.707060404581194|
+-----+-----------+-----------------+

# Más de una métrica con una misma columna
Como pasando un diccionario no podemos repetir claves, 
para calcular más de una métrica de la misma columna tenemos que pasar de los diccionarios a una
lista de parametros de spark (by David Garcia)

In [58]:
from pyspark.sql import functions as func
df.groupBy('group').agg(func.avg('prewt'), func.min('difwt'), func.max('prewt')).show()

+-----+-----------------+----------+----------+
|group|       avg(prewt)|min(difwt)|max(prewt)|
+-----+-----------------+----------+----------+
|    1|82.68965517241381|      -9.1|      94.9|
|    3|83.22941176470589|      -5.3|      94.2|
|    2| 81.5576923076923|     -12.2|      91.8|
+-----+-----------------+----------+----------+

# Conclusiones

El tratamiento 3 parece ser mejor, sin embargo, los tratamientos parecen aplicarse para muestras no extraídas al azar.

La forma en que decidimos analizar los datos puede conducir a resultados completamente diferentes.
A menudo, puede influir (intencionalmente o no) en lo que la gente da por sentado, dependiendo de cómo se comuniquen los resultados.

## Consejos

Sea escéptico de sus resultados y de los que brindan otros.
Considere otras formas de analizar los datos y si los eligió correctamente.

---

# EJERCICIOS - BLOQUE 1: 
1. Importe la base de datos census.csv a un Spark Data Frame
1. Identificar el tipo de datos de todas las variables.
1. Hacer un análisis de esta base de datos utilizando las herramientas previamente aprendidas, aplicar describe [Media, Min, Max y Desviación Estandard] a por lo menos una columna numerica y hacer una tabla de frecuencia por los menos una columna categorica.
1. Elija al menos una variable categórica y calcule las métricas [Media, Min, Max y Desviación Estandard] para por lo menos una variable numérica según los grupos de la variable categórica elejida.

In [55]:
census = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("census.csv")  
 
census.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- education: string (nullable = true)
 |-- education_num: integer (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- hours_per_week: integer (nullable = true)
 |-- native_country: string (nullable = true)
 |-- greater_than_50k: integer (nullable = true)

In [56]:
census.select('native_country').show(3)

+--------------+
|native_country|
+--------------+
| United-States|
| United-States|
| United-States|
+--------------+
only showing top 3 rows

In [57]:

 
census.select('age', 'education_num', 'hours_per_week', 'greater_than_50k').describe().show()

+-------+------------------+------------------+------------------+-------------------+
|summary|               age|     education_num|    hours_per_week|   greater_than_50k|
+-------+------------------+------------------+------------------+-------------------+
|  count|             32560|             32560|             32560|              32560|
|   mean|38.581848894348894|10.080681818181818|40.437469287469284|0.24081695331695332|
| stddev|13.640593255110998|2.5727598014993664|12.347618058479533| 0.4275859720299747|
|    min|                17|                 1|                 1|                  0|
|    max|                90|                16|                99|                  1|
+-------+------------------+------------------+------------------+-------------------+

In [59]:

 
census.select('age', 'education_num', 'hours_per_week', 'greater_than_50k').describe().show()
 
for col in census.columns:
    census.groupBy(col).count().orderBy('count', ascending=False).show(5,False)

+-------+------------------+------------------+------------------+-------------------+
|summary|               age|     education_num|    hours_per_week|   greater_than_50k|
+-------+------------------+------------------+------------------+-------------------+
|  count|             32560|             32560|             32560|              32560|
|   mean|38.581848894348894|10.080681818181818|40.437469287469284|0.24081695331695332|
| stddev|13.640593255110998|2.5727598014993664|12.347618058479533| 0.4275859720299747|
|    min|                17|                 1|                 1|                  0|
|    max|                90|                16|                99|                  1|
+-------+------------------+------------------+------------------+-------------------+

+---+-----+
|age|count|
+---+-----+
|36 |898  |
|31 |888  |
|34 |886  |
|23 |877  |
|35 |876  |
+---+-----+
only showing top 5 rows

+-----------------+-----+
|workclass        |count|
+-----------------+-----+
| Private         |22695|
| Self-emp-not-inc|2541 |
| Local-gov       |2093 |
|null             |1836 |
| State-gov       |1298 |
+-----------------+-----+
only showing top 5 rows

+-------------+-----+
|education    |count|
+-------------+-----+
| HS-grad     |10501|
| Some-college|7290 |
| Bachelors   |5355 |
| Masters     |1723 |
| Assoc-voc   |1382 |
+-------------+-----+
only showing top 5 rows

+-------------+-----+
|education_num|count|
+-------------+-----+
|9            |10501|
|10           |7290 |
|13           |5355 |
|14           |1723 |
|11           |1382 |
+-------------+-----+
only showing top 5 rows

+-------------------+-----+
|marital_status     |count|
+-------------------+-----+
| Married-civ-spouse|14976|
| Never-married     |10682|
| Divorced          |4443 |
| Separated         |1025 |
| Widowed           |993  |
+-------------------+-----+
only showing top 5 rows

+----------------+-----+
|occupation      |count|
+----------------+-----+
| Prof-specialty |4140 |
| Craft-repair   |4099 |
| Exec-managerial|4066 |
| Adm-clerical   |3770 |
| Sales          |3650 |
+----------------+-----+
only showing top 5 rows

+--------------+-----+
|relationship  |count|
+--------------+-----+
| Husband      |13193|
| Not-in-family|8305 |
| Own-child    |5068 |
| Unmarried    |3446 |
| Wife         |1568 |
+--------------+-----+
only showing top 5 rows

+-------------------+-----+
|race               |count|
+-------------------+-----+
| White             |27815|
| Black             |3124 |
| Asian-Pac-Islander|1039 |
| Amer-Indian-Eskimo|311  |
| Other             |271  |
+-------------------+-----+

+-------+-----+
|gender |count|
+-------+-----+
| Male  |21790|
| Female|10770|
+-------+-----+

+--------------+-----+
|hours_per_week|count|
+--------------+-----+
|40            |15216|
|50            |2819 |
|45            |1824 |
|60            |1475 |
|35            |1297 |
+--------------+-----+
only showing top 5 rows

+--------------+-----+
|native_country|count|
+--------------+-----+
| United-States|29170|
| Mexico       |643  |
|null          |583  |
| Philippines  |198  |
| Germany      |137  |
+--------------+-----+
only showing top 5 rows

+----------------+-----+
|greater_than_50k|count|
+----------------+-----+
|0               |24719|
|1               |7841 |
+----------------+-----+

---

# Spark Dataframe - Bloque 2

In [60]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("housing.csv")

In [61]:
df.count()

20640

In [62]:
#printSchema
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)
 |-- ocean_proximity: string (nullable = true)

In [63]:
type(df)

pyspark.sql.dataframe.DataFrame

In [64]:
# columns of dataframe
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [65]:
#check number of columns
len(df.columns)

10

In [66]:
#number of records in dataframe
df.count()

20640

In [67]:
# df.shape - existe en pandas

In [68]:
#shape of dataset
print((df.count(),len(df.columns)))

(20640, 10)

In [69]:
df.head(3)

[Row(longitude=-122.23, latitude=37.88, housing_median_age=41.0, total_rooms=880.0, total_bedrooms=129.0, population=322.0, households=126.0, median_income=8.3252, median_house_value=452600.0, ocean_proximity='NEAR BAY'),
 Row(longitude=-122.22, latitude=37.86, housing_median_age=21.0, total_rooms=7099.0, total_bedrooms=1106.0, population=2401.0, households=1138.0, median_income=8.3014, median_house_value=358500.0, ocean_proximity='NEAR BAY'),
 Row(longitude=-122.24, latitude=37.85, housing_median_age=52.0, total_rooms=1467.0, total_bedrooms=190.0, population=496.0, households=177.0, median_income=7.2574, median_house_value=352100.0, ocean_proximity='NEAR BAY')]

In [70]:
df.tail(3) # Es importante porque pasaré una basse de datos con problemas al final!

[Row(longitude=-121.22, latitude=39.43, housing_median_age=17.0, total_rooms=2254.0, total_bedrooms=485.0, population=1007.0, households=433.0, median_income=1.7, median_house_value=92300.0, ocean_proximity='INLAND'),
 Row(longitude=-121.32, latitude=39.43, housing_median_age=18.0, total_rooms=1860.0, total_bedrooms=409.0, population=741.0, households=349.0, median_income=1.8672, median_house_value=84700.0, ocean_proximity='INLAND'),
 Row(longitude=-121.24, latitude=39.37, housing_median_age=16.0, total_rooms=2785.0, total_bedrooms=616.0, population=1387.0, households=530.0, median_income=2.3886, median_house_value=89400.0, ocean_proximity='INLAND')]

In [72]:
#fisrt few rows of dataframe
df.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|          452600.0|       NEAR BAY|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|          358500.0|       NEAR BAY|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|          352100.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|          341300.0|       NEAR BAY|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|          342200.0|       NEAR BAY|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 5 rows

In [78]:
#select only 2 columns
df.select(df.columns[0:8]).show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|
|  -122.25|   37.85|              52.0|     1274.0|         235.0|     558.0|     219.0|       5.6431|
|  -122.25|   37.85|              52.0|     1627.0|         280.0|     565.0|     259.0|       3.8462|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+
only showing top 5 rows

In [79]:
df.select(df.columns[8:]).show(5)

+------------------+---------------+
|median_house_value|ocean_proximity|
+------------------+---------------+
|          452600.0|       NEAR BAY|
|          358500.0|       NEAR BAY|
|          352100.0|       NEAR BAY|
|          341300.0|       NEAR BAY|
|          342200.0|       NEAR BAY|
+------------------+---------------+
only showing top 5 rows

In [80]:
# STATISTICAL info about dataframe
df.select('housing_median_age','total_bedrooms').describe().show()

+-------+------------------+------------------+
|summary|housing_median_age|    total_bedrooms|
+-------+------------------+------------------+
|  count|             20640|             20433|
|   mean|28.639486434108527| 537.8705525375618|
| stddev| 12.58555761211163|421.38507007403115|
|    min|               1.0|               1.0|
|    max|              52.0|            6445.0|
+-------+------------------+------------------+

In [81]:
df.select('ocean_proximity').distinct().show()

+---------------+
|ocean_proximity|
+---------------+
|         ISLAND|
|     NEAR OCEAN|
|       NEAR BAY|
|      <1H OCEAN|
|         INLAND|
+---------------+

In [85]:
df.filter(df['ocean_proximity']=='NEAR BAY').select(df.columns[:8]).show(3)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+
|  -122.23|   37.88|              41.0|      880.0|         129.0|     322.0|     126.0|       8.3252|
|  -122.22|   37.86|              21.0|     7099.0|        1106.0|    2401.0|    1138.0|       8.3014|
|  -122.24|   37.85|              52.0|     1467.0|         190.0|     496.0|     177.0|       7.2574|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+
only showing top 3 rows

In [86]:
#filter the records 
df.filter(df['ocean_proximity']=='NEAR BAY').select(df.columns[8:]).show(3)

+------------------+---------------+
|median_house_value|ocean_proximity|
+------------------+---------------+
|          452600.0|       NEAR BAY|
|          358500.0|       NEAR BAY|
|          352100.0|       NEAR BAY|
+------------------+---------------+
only showing top 3 rows

In [87]:
#filter the records 
df.filter(df['ocean_proximity']=='NEAR BAY'). \
select('ocean_proximity','longitude','latitude','housing_median_age').show()

+---------------+---------+--------+------------------+
|ocean_proximity|longitude|latitude|housing_median_age|
+---------------+---------+--------+------------------+
|       NEAR BAY|  -122.23|   37.88|              41.0|
|       NEAR BAY|  -122.22|   37.86|              21.0|
|       NEAR BAY|  -122.24|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.84|              52.0|
|       NEAR BAY|  -122.25|   37.84|              52.0|
|       NEAR BAY|  -122.26|   37.84|              42.0|
|       NEAR BAY|  -122.25|   37.84|              52.0|
|       NEAR BAY|  -122.26|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.84|              52.0|
|       NEAR BAY|  -122.26|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.85|              50.0|
|       NEAR BAY|  -122.27|   37.85|              52.0|
|       NEAR BAY|  -122.27|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.84|              50.0|
|       NEAR BAY|  -122.27|   37.84|              52.0|
+---------------+---------+--------+------------------+
only showing top 20 rows

In [93]:
df.select('ocean_proximity','longitude','latitude','housing_median_age'). \
filter(df['ocean_proximity']=='NEAR BAY').show()

+---------------+---------+--------+------------------+
|ocean_proximity|longitude|latitude|housing_median_age|
+---------------+---------+--------+------------------+
|       NEAR BAY|  -122.23|   37.88|              41.0|
|       NEAR BAY|  -122.22|   37.86|              21.0|
|       NEAR BAY|  -122.24|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.84|              52.0|
|       NEAR BAY|  -122.25|   37.84|              52.0|
|       NEAR BAY|  -122.26|   37.84|              42.0|
|       NEAR BAY|  -122.25|   37.84|              52.0|
|       NEAR BAY|  -122.26|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.84|              52.0|
|       NEAR BAY|  -122.26|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.85|              50.0|
|       NEAR BAY|  -122.27|   37.85|              52.0|
|       NEAR BAY|  -122.27|   37.85|              52.0|
|       NEAR BAY|  -122.26|   37.84|              50.0|
|       NEAR BAY|  -122.27|   37.84|              52.0|
+---------------+---------+--------+------------------+
only showing top 20 rows

In [94]:
#filter the multiple conditions
df.filter(df['ocean_proximity']=='NEAR BAY') \
    .filter(df['housing_median_age'] >50)\
    .select('ocean_proximity','longitude','latitude','housing_median_age')\
    .show(3)

+---------------+---------+--------+------------------+
|ocean_proximity|longitude|latitude|housing_median_age|
+---------------+---------+--------+------------------+
|       NEAR BAY|  -122.24|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
+---------------+---------+--------+------------------+
only showing top 3 rows

In [95]:
#filter the multiple conditions
df.filter((df['ocean_proximity']=='NEAR BAY') & (df['housing_median_age'] >50))\
    .select('ocean_proximity','longitude','latitude','housing_median_age')\
    .show(3)

+---------------+---------+--------+------------------+
|ocean_proximity|longitude|latitude|housing_median_age|
+---------------+---------+--------+------------------+
|       NEAR BAY|  -122.24|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
|       NEAR BAY|  -122.25|   37.85|              52.0|
+---------------+---------+--------+------------------+
only showing top 3 rows

In [96]:
#Distinct Values in a column
df.select('ocean_proximity').distinct().show()

+---------------+
|ocean_proximity|
+---------------+
|         ISLAND|
|     NEAR OCEAN|
|       NEAR BAY|
|      <1H OCEAN|
|         INLAND|
+---------------+

In [97]:
#distinct value count
df.select('ocean_proximity').distinct().count()

5

In [102]:
df.groupBy('ocean_proximity').count().show(5)

+---------------+-----+
|ocean_proximity|count|
+---------------+-----+
|         ISLAND|    5|
|     NEAR OCEAN| 2658|
|       NEAR BAY| 2290|
|      <1H OCEAN| 9136|
|         INLAND| 6551|
+---------------+-----+

In [100]:
# Frequence Table - Couting by Distinct Values in a column
df.groupBy('ocean_proximity').count().show(5,False)

+---------------+-----+
|ocean_proximity|count|
+---------------+-----+
|ISLAND         |5    |
|NEAR OCEAN     |2658 |
|NEAR BAY       |2290 |
|<1H OCEAN      |9136 |
|INLAND         |6551 |
+---------------+-----+

In [101]:
df.groupBy('ocean_proximity').count().show(5,True)

+---------------+-----+
|ocean_proximity|count|
+---------------+-----+
|         ISLAND|    5|
|     NEAR OCEAN| 2658|
|       NEAR BAY| 2290|
|      <1H OCEAN| 9136|
|         INLAND| 6551|
+---------------+-----+

In [103]:
# Value counts - ORDERED BY COUNT
df.groupBy('ocean_proximity').count().orderBy('count',ascending=False).show(5,False)

+---------------+-----+
|ocean_proximity|count|
+---------------+-----+
|<1H OCEAN      |9136 |
|INLAND         |6551 |
|NEAR OCEAN     |2658 |
|NEAR BAY       |2290 |
|ISLAND         |5    |
+---------------+-----+

In [104]:
# Average by group
df.groupBy('ocean_proximity').mean().show()

+---------------+-------------------+------------------+-----------------------+------------------+-------------------+------------------+------------------+------------------+-----------------------+
|ocean_proximity|     avg(longitude)|     avg(latitude)|avg(housing_median_age)|  avg(total_rooms)|avg(total_bedrooms)|   avg(population)|   avg(households)|avg(median_income)|avg(median_house_value)|
+---------------+-------------------+------------------+-----------------------+------------------+-------------------+------------------+------------------+------------------+-----------------------+
|         ISLAND|           -118.354|33.358000000000004|                   42.4|            1574.6|              420.4|             668.0|             276.6|2.7444200000000003|               380440.0|
|     NEAR OCEAN|-119.33255455229478| 34.73843867569602|     29.347253574115875| 2583.700902934537|  538.6156773211568|1354.0086531226486|501.24454477050415| 4.005784800601957|     249433.97742663656|
|       NEAR BAY| -122.2606943231443|37.801056768558915|      37.73013100436681| 2493.589519650655|  514.1828193832599|1230.3174672489083| 488.6161572052402| 4.172884759825336|     259212.31179039303|
|      <1H OCEAN|-118.84776598073506|34.560576838879264|     29.279225043782837|2628.3435858143607|  546.5391852999778|1520.2904991243433| 517.7449649737302|4.2306819176882655|     240084.28546409807|
|         INLAND|-119.73299038314796| 36.73182872843834|      24.27186689055106|2717.7427873607085|  533.8816194581281|1391.0462524805373|477.44756525721266| 3.208996382231716|     124805.39200122119|
+---------------+-------------------+------------------+-----------------------+------------------+-------------------+------------------+------------------+------------------+-----------------------+

In [105]:
# Average by group with select
df \
    .select('ocean_proximity','housing_median_age','households', 'median_income', 'median_house_value') \
    .groupBy('ocean_proximity') \
    .mean() \
    .show()

+---------------+-----------------------+------------------+------------------+-----------------------+
|ocean_proximity|avg(housing_median_age)|   avg(households)|avg(median_income)|avg(median_house_value)|
+---------------+-----------------------+------------------+------------------+-----------------------+
|         ISLAND|                   42.4|             276.6|2.7444200000000003|               380440.0|
|     NEAR OCEAN|     29.347253574115875|501.24454477050415| 4.005784800601957|     249433.97742663656|
|       NEAR BAY|      37.73013100436681| 488.6161572052402| 4.172884759825336|     259212.31179039303|
|      <1H OCEAN|     29.279225043782837| 517.7449649737302|4.2306819176882655|     240084.28546409807|
|         INLAND|      24.27186689055106|477.44756525721266| 3.208996382231716|     124805.39200122119|
+---------------+-----------------------+------------------+------------------+-----------------------+

In [106]:
print("Es {} veces más caro vivir en la isla ({}/{})".format(380440/124805,380440,124805))

Es 3.048275309482793 veces más caro vivir en la isla (380440/124805)

In [107]:
# Average by group
df.groupBy('ocean_proximity').sum().show()

+---------------+-------------------+------------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|ocean_proximity|     sum(longitude)|     sum(latitude)|sum(housing_median_age)|sum(total_rooms)|sum(total_bedrooms)|sum(population)|sum(households)|sum(median_income)|sum(median_house_value)|
+---------------+-------------------+------------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|         ISLAND|            -591.77|166.79000000000002|                  212.0|          7873.0|             2102.0|         3340.0|         1383.0|13.722100000000001|              1902200.0|
|     NEAR OCEAN| -317185.9299999995| 92334.77000000002|                78005.0|       6867477.0|          1415482.0|      3598955.0|      1332308.0|10647.376000000002|           6.62995512E8|
|       NEAR BAY|-279976.99000000046| 86564.41999999991|                86402.0|       5710320.0|          1167195.0|      2817427.0|      1118931.0| 9555.906100000018|           5.93596194E8|
|      <1H OCEAN|-1085793.1899999955| 315745.4300000009|               267495.0|     2.4012547E7|          4937435.0|    1.3889374E7|      4730118.0|38651.509999999995|          2.193410032E9|
|         INLAND| -784370.8200000023|240630.20999999953|               159005.0|     1.7803933E7|          3468095.0|      9112744.0|      3127759.0|21022.135299999973|           8.17600123E8|
+---------------+-------------------+------------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+

In [108]:
# Sum by group with select
df \
    .select('ocean_proximity','housing_median_age','households', 'median_income', 'median_house_value') \
    .groupBy('ocean_proximity') \
    .sum() \
    .show()

+---------------+-----------------------+---------------+------------------+-----------------------+
|ocean_proximity|sum(housing_median_age)|sum(households)|sum(median_income)|sum(median_house_value)|
+---------------+-----------------------+---------------+------------------+-----------------------+
|         ISLAND|                  212.0|         1383.0|13.722100000000001|              1902200.0|
|     NEAR OCEAN|                78005.0|      1332308.0|10647.376000000002|           6.62995512E8|
|       NEAR BAY|                86402.0|      1118931.0| 9555.906100000018|           5.93596194E8|
|      <1H OCEAN|               267495.0|      4730118.0|38651.509999999995|          2.193410032E9|
|         INLAND|               159005.0|      3127759.0|21022.135299999973|           8.17600123E8|
+---------------+-----------------------+---------------+------------------+-----------------------+

In [109]:
# Max by group 
df.groupBy('ocean_proximity').max().show()

+---------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|ocean_proximity|max(longitude)|max(latitude)|max(housing_median_age)|max(total_rooms)|max(total_bedrooms)|max(population)|max(households)|max(median_income)|max(median_house_value)|
+---------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|         ISLAND|       -118.32|        33.43|                   52.0|          2359.0|              591.0|         1100.0|          431.0|            3.3906|               450000.0|
|     NEAR OCEAN|       -116.97|        41.95|                   52.0|         30405.0|             4585.0|        12873.0|         4176.0|           15.0001|               500001.0|
|       NEAR BAY|       -122.01|        38.34|                   52.0|         18634.0|             3226.0|         8276.0|         3589.0|           15.0001|               500001.0|
|      <1H OCEAN|       -116.62|        41.88|                   52.0|         37937.0|             6445.0|        35682.0|         6082.0|           15.0001|               500001.0|
|         INLAND|       -114.31|        41.95|                   52.0|         39320.0|             6210.0|        16305.0|         5358.0|           15.0001|               500001.0|
+---------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+

In [ ]:
# Max by group with select
df \
    .select('ocean_proximity','housing_median_age','households', 'median_income', 'median_house_value') \
    .groupBy('ocean_proximity') \
    .max() \
    .show()

In [110]:
# Min by group 
df.groupBy('ocean_proximity').min().show()

+---------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|ocean_proximity|min(longitude)|min(latitude)|min(housing_median_age)|min(total_rooms)|min(total_bedrooms)|min(population)|min(households)|min(median_income)|min(median_house_value)|
+---------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+
|         ISLAND|       -118.48|        33.33|                   27.0|           716.0|              214.0|          341.0|          160.0|            2.1579|               287500.0|
|     NEAR OCEAN|       -124.35|        32.54|                    2.0|            15.0|                3.0|            8.0|            3.0|             0.536|                22500.0|
|       NEAR BAY|       -122.59|        37.35|                    2.0|             8.0|                1.0|            8.0|            1.0|            0.4999|                22500.0|
|      <1H OCEAN|       -124.14|        32.61|                    2.0|            11.0|                5.0|            3.0|            4.0|            0.4999|                17500.0|
|         INLAND|       -123.73|        32.64|                    1.0|             2.0|                2.0|            5.0|            2.0|            0.4999|                14999.0|
+---------------+--------------+-------------+-----------------------+----------------+-------------------+---------------+---------------+------------------+-----------------------+

In [111]:
# Min by group with select
df \
    .select('ocean_proximity','housing_median_age','households', 'median_income', 'median_house_value') \
    .groupBy('ocean_proximity') \
    .max() \
    .show()

+---------------+-----------------------+---------------+------------------+-----------------------+
|ocean_proximity|max(housing_median_age)|max(households)|max(median_income)|max(median_house_value)|
+---------------+-----------------------+---------------+------------------+-----------------------+
|         ISLAND|                   52.0|          431.0|            3.3906|               450000.0|
|     NEAR OCEAN|                   52.0|         4176.0|           15.0001|               500001.0|
|       NEAR BAY|                   52.0|         3589.0|           15.0001|               500001.0|
|      <1H OCEAN|                   52.0|         6082.0|           15.0001|               500001.0|
|         INLAND|                   52.0|         5358.0|           15.0001|               500001.0|
+---------------+-----------------------+---------------+------------------+-----------------------+

In [112]:
#Aggregation
df.groupBy('ocean_proximity').agg({'housing_median_age':'sum'}).show()

+---------------+-----------------------+
|ocean_proximity|sum(housing_median_age)|
+---------------+-----------------------+
|         ISLAND|                  212.0|
|     NEAR OCEAN|                78005.0|
|       NEAR BAY|                86402.0|
|      <1H OCEAN|               267495.0|
|         INLAND|               159005.0|
+---------------+-----------------------+

In [113]:
df.groupBy('ocean_proximity').agg({'housing_median_age':'avg'}).show()

+---------------+-----------------------+
|ocean_proximity|avg(housing_median_age)|
+---------------+-----------------------+
|         ISLAND|                   42.4|
|     NEAR OCEAN|     29.347253574115875|
|       NEAR BAY|      37.73013100436681|
|      <1H OCEAN|     29.279225043782837|
|         INLAND|      24.27186689055106|
+---------------+-----------------------+

In [114]:
df.groupBy('ocean_proximity').agg({'housing_median_age':'count'}).show()

+---------------+-------------------------+
|ocean_proximity|count(housing_median_age)|
+---------------+-------------------------+
|         ISLAND|                        5|
|     NEAR OCEAN|                     2658|
|       NEAR BAY|                     2290|
|      <1H OCEAN|                     9136|
|         INLAND|                     6551|
+---------------+-------------------------+

In [115]:
df.groupBy('ocean_proximity').agg({'housing_median_age':'min'}).show()

+---------------+-----------------------+
|ocean_proximity|min(housing_median_age)|
+---------------+-----------------------+
|         ISLAND|                   27.0|
|     NEAR OCEAN|                    2.0|
|       NEAR BAY|                    2.0|
|      <1H OCEAN|                    2.0|
|         INLAND|                    1.0|
+---------------+-----------------------+

In [116]:
df.groupBy('ocean_proximity').agg({'housing_median_age':'max'}).show()

+---------------+-----------------------+
|ocean_proximity|max(housing_median_age)|
+---------------+-----------------------+
|         ISLAND|                   52.0|
|     NEAR OCEAN|                   52.0|
|       NEAR BAY|                   52.0|
|      <1H OCEAN|                   52.0|
|         INLAND|                   52.0|
+---------------+-----------------------+

In [117]:
df.groupBy('ocean_proximity').agg({'housing_median_age':'max','median_income':'avg'}).show()

+---------------+-----------------------+------------------+
|ocean_proximity|max(housing_median_age)|avg(median_income)|
+---------------+-----------------------+------------------+
|         ISLAND|                   52.0|2.7444200000000003|
|     NEAR OCEAN|                   52.0| 4.005784800601957|
|       NEAR BAY|                   52.0| 4.172884759825336|
|      <1H OCEAN|                   52.0|4.2306819176882655|
|         INLAND|                   52.0| 3.208996382231716|
+---------------+-----------------------+------------------+

# EJERCICIOS - BLOQUE 2)

Contestar las siguientes preguntas

1. Calcular el promedio de housing_median_age por ocean_proximity enseñando el valor mayor arriba, ¿donde hay casas viejas?
1. Calcular el promedio de median_income por ocean_proximity enseñando el valor mayor arriba, ¿donde hay gente con más dinero viviendo?
1. Calcular el precio médio de median_house_value por ocean_proximity enseñando el valor más caro arriba, ¿donde es más caro vivir?
1. Calcular el promedio de total_rooms por ocean_proximity enseñando el valor mayor arriba, ¿donde hay casas con mas habitaciones?
1. Calcular el population por ocean_proximity enseñando el valor mayor arriba, ¿donde hay más gente viviendo?
1. Calcular la ratio [population / total_bedrooms] y a continuación el promedio de esta ratio por ocean_proximity enseñando el valor mayor arriba, ¿donde hay casas con más gente viviendo?

In [118]:
df.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'ocean_proximity']

In [ ]:
# 1
query = df.select("ocean_proximity", "housing_median_age")\
      .groupBy("ocean_proximity")\
      .mean()\
      .orderBy("avg(housing_median_age)", ascending=False)
query.show()
result = query.head()



print("Las casas más viejas de media ({}) están en: {}".format(result[1], result[0]))

In [ ]:
result[1][0]

In [ ]:
# 2
df.groupBy('ocean_proximity').agg({'median_income':'avg'}).orderBy('avg(median_income)',ascending=False).show()

In [ ]:
# 3 
df.groupBy('ocean_proximity').agg({'median_house_value':'avg'}).orderBy('avg(median_house_value)',ascending=False).show()

In [ ]:
# 4
df.groupBy('ocean_proximity').agg({'total_rooms':'avg'}).sort('avg(total_rooms)', ascending=False).show()

In [ ]:
# 5
df.groupBy('ocean_proximity').agg({'population':'avg'}).orderBy('avg(population)',ascending=False).show()

In [ ]:
from pyspark.sql.functions import col


query = df.select("ocean_proximity", "population", "total_bedrooms")\
  .withColumn("ratio", col("population")/col("total_bedrooms"))\
  .groupBy("ocean_proximity")\
  .mean("ratio")\
  .orderBy("avg(ratio)", ascending = False)

query.show()

result = query.head()

print("Hay más gente por habitación ({} de ratio) en: {}".format(round(result[1],4), result[0]))