In [1]:
import findspark
findspark.init()
import pyspark
sc = pyspark.SparkContext(appName="RDDBasics")
from pyspark.sql.session import SparkSession
spark = SparkSession(sc)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/20 09:39:19 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Lab2 : Working with Spark SQL

#### We will review :

1. Loading CSV file formats using SparkSession
2. Creating DataFrame without inferring Schema 
3. Creating DataFrame inferring Schema 
4. Doing some preliminary analysis using Spark SQL on this dataset
5. Creating UDFs (User Defined Functions) and using them on the dataset
5. Saving a DataFrame into partitioned parquet files format

#### Small (Lab) Dataset :

* Air flight data - subset of ~ 100 MB (for demonstration purposes)
* Available in the IE cluster @: /data/shared/spark/flight_data/csv_tiny

#### Larger Dataset (Further Labs) :

* Air flight data - subset of ~ 2.5 GB (for cluster operation purposes)
* Available in the IE cluster @: /data/shared/spark/flight_data/csv_small

In [2]:
# First Let's start by :
# 1. Definining SPARK_HOME variable 
# 2. Using findspark to  let us work with Spark installation in the cluster

In [2]:
import os
print(os.environ['SPARK_HOME'])

/home/javiortig/.local/lib/python3.10/site-packages/pyspark

In [3]:
# Read in all available data files into a data frame
df = spark.read \
    .csv("flights.csv")

### Now check the data schema

In [4]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)

* Ok , but the column names are not very telling. 
* How to improve this? , by telling Spark to use the header ( if exists )

In [5]:
df = spark.read \
    .option("header", "true") \
    .csv("flights.csv")

In [6]:
df.printSchema()

root
 |-- YEAR: string (nullable = true)
 |-- MONTH: string (nullable = true)
 |-- DAY: string (nullable = true)
 |-- DAY_OF_WEEK: string (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: string (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: string (nullable = true)
 |-- DEPARTURE_TIME: string (nullable = true)
 |-- DEPARTURE_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- SCHEDULED_TIME: string (nullable = true)
 |-- ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- SCHEDULED_ARRIVAL: string (nullable = true)
 |-- ARRIVAL_TIME: string (nullable = true)
 |-- ARRIVAL_DELAY: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- AIRLINE_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)

* Better , but still one caveat though , all values are interpreted as string, while some of them (actually most), are of numeric nature ( e.g ) Year , Month , Flight Number
* How to improve this ?, by either telling Spark what schema to use OR telling it to infer the Schema of the data
* Note : Asking Spark to infer schema may have a performance impact depending on the number of rows required to infer the schema

In [7]:
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("flights.csv")

In [11]:
df.printSchema()

root
 |-- YEAR: integer (nullable = true)
 |-- MONTH: integer (nullable = true)
 |-- DAY: integer (nullable = true)
 |-- DAY_OF_WEEK: integer (nullable = true)
 |-- AIRLINE: string (nullable = true)
 |-- FLIGHT_NUMBER: integer (nullable = true)
 |-- TAIL_NUMBER: string (nullable = true)
 |-- ORIGIN_AIRPORT: string (nullable = true)
 |-- DESTINATION_AIRPORT: string (nullable = true)
 |-- SCHEDULED_DEPARTURE: integer (nullable = true)
 |-- DEPARTURE_TIME: integer (nullable = true)
 |-- DEPARTURE_DELAY: integer (nullable = true)
 |-- TAXI_OUT: integer (nullable = true)
 |-- WHEELS_OFF: integer (nullable = true)
 |-- SCHEDULED_TIME: integer (nullable = true)
 |-- ELAPSED_TIME: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)
 |-- WHEELS_ON: integer (nullable = true)
 |-- TAXI_IN: integer (nullable = true)
 |-- SCHEDULED_ARRIVAL: integer (nullable = true)
 |-- ARRIVAL_TIME: integer (nullable = true)
 |-- ARRIVAL_DELAY: integer (nullable = true)
 |-- DIVERTED: integer (nullable = true)
 |-- CANCELLED: integer (nullable = true)
 |-- CANCELLATION_REASON: string (nullable = true)
 |-- AIR_SYSTEM_DELAY: integer (nullable = true)
 |-- SECURITY_DELAY: integer (nullable = true)
 |-- AIRLINE_DELAY: integer (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: integer (nullable = true)
 |-- WEATHER_DELAY: integer (nullable = true)

In [12]:
df.columns

['YEAR',
 'MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'AIRLINE',
 'FLIGHT_NUMBER',
 'TAIL_NUMBER',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'SCHEDULED_DEPARTURE',
 'DEPARTURE_TIME',
 'DEPARTURE_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'CANCELLATION_REASON',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY']

In [13]:
# Register a table named flights for later SQL queries
df.registerTempTable("flights")

23/04/20 09:49:46 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

/home/javiortig/.conda/envs/procesamiento_datos/lib/python3.9/site-packages/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

#### Worth Noting

* registerTempTable() creates an in-memory table avaialble within cluster in which it was created. The data is stored using Hive's in-memory columnar format and will only 'live' for the duration of the session.

* saveAsTable() creates a permanent, physical table stored using the Parquet format. This table is accessible to all clusters including external clusters and in between sessions. The table metadata including the location of the file(s) is stored within the Hive metastore.

#### Select the following columns from the full dataset

     YEAR,
     MONTH,
     DAY,
     DAY_OF_WEEK,
     AIRLINE,
     FLIGHT_NUMBER,
     TAIL_NUMBER,
     ORIGIN_AIRPORT,
     DESTINATION_AIRPORT,
     SCHEDULED_DEPARTURE,
     DEPARTURE_TIME,
     DEPARTURE_DELAY,
     TAXI_OUT,
     WHEELS_OFF,
     SCHEDULED_TIME,
     ELAPSED_TIME,
     AIR_TIME,
     DISTANCE,
     CANCELLED

In [14]:
df.columns

['YEAR',
 'MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'AIRLINE',
 'FLIGHT_NUMBER',
 'TAIL_NUMBER',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'SCHEDULED_DEPARTURE',
 'DEPARTURE_TIME',
 'DEPARTURE_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'CANCELLATION_REASON',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY']

In [15]:
df_subset=spark.sql("""
select
 YEAR,
 MONTH,
 DAY,
 DAY_OF_WEEK,
 AIRLINE,
 FLIGHT_NUMBER,
 TAIL_NUMBER,
 ORIGIN_AIRPORT,
 DESTINATION_AIRPORT,
 SCHEDULED_DEPARTURE,
 DEPARTURE_TIME,
 DEPARTURE_DELAY,
 TAXI_OUT,
 WHEELS_OFF,
 SCHEDULED_TIME,
 ELAPSED_TIME,
 AIR_TIME,
 DISTANCE,
 CANCELLED
FROM
 flights
"""
)
# OR 
# selection=["year,month,dayofmonth,dayofweek,"
#       "flightnum,origin,dest,deptime,depdelay,"
#       "arrtime,arrdelay,cancelled,cancellationcode,"
#       "airtime,distance "]
# info.select(selection)

In [16]:
df_subset.head()

Row(YEAR=2015, MONTH=1, DAY=1, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER=98, TAIL_NUMBER='N407AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE=5, DEPARTURE_TIME=2354, DEPARTURE_DELAY=-11, TAXI_OUT=21, WHEELS_OFF=15, SCHEDULED_TIME=205, ELAPSED_TIME=194, AIR_TIME=169, DISTANCE=1448, CANCELLED=0)

In [17]:
# Cache this DataFrame 
df_subset.cache()
# Cache the flights table
spark.sql("cache table flights")

DataFrame[]

In [16]:
# Show the first 5 rows of the subset data to get a feeling of what to expect
df_subset.head(5)

[Row(YEAR=2015, MONTH=1, DAY=1, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER=98, TAIL_NUMBER='N407AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE=5, DEPARTURE_TIME=2354, DEPARTURE_DELAY=-11, TAXI_OUT=21, WHEELS_OFF=15, SCHEDULED_TIME=205, ELAPSED_TIME=194, AIR_TIME=169, DISTANCE=1448, CANCELLED=0),
 Row(YEAR=2015, MONTH=1, DAY=1, DAY_OF_WEEK=4, AIRLINE='AA', FLIGHT_NUMBER=2336, TAIL_NUMBER='N3KUAA', ORIGIN_AIRPORT='LAX', DESTINATION_AIRPORT='PBI', SCHEDULED_DEPARTURE=10, DEPARTURE_TIME=2, DEPARTURE_DELAY=-8, TAXI_OUT=12, WHEELS_OFF=14, SCHEDULED_TIME=280, ELAPSED_TIME=279, AIR_TIME=263, DISTANCE=2330, CANCELLED=0),
 Row(YEAR=2015, MONTH=1, DAY=1, DAY_OF_WEEK=4, AIRLINE='US', FLIGHT_NUMBER=840, TAIL_NUMBER='N171US', ORIGIN_AIRPORT='SFO', DESTINATION_AIRPORT='CLT', SCHEDULED_DEPARTURE=20, DEPARTURE_TIME=18, DEPARTURE_DELAY=-2, TAXI_OUT=16, WHEELS_OFF=34, SCHEDULED_TIME=286, ELAPSED_TIME=293, AIR_TIME=266, DISTANCE=2296, CANCELLED=0),
 Row(YEAR=2015, MONTH=1, DAY=1, DAY_OF_WEEK=4, AIRLINE='AA', FLIGHT_NUMBER=258, TAIL_NUMBER='N3HYAA', ORIGIN_AIRPORT='LAX', DESTINATION_AIRPORT='MIA', SCHEDULED_DEPARTURE=20, DEPARTURE_TIME=15, DEPARTURE_DELAY=-5, TAXI_OUT=15, WHEELS_OFF=30, SCHEDULED_TIME=285, ELAPSED_TIME=281, AIR_TIME=258, DISTANCE=2342, CANCELLED=0),
 Row(YEAR=2015, MONTH=1, DAY=1, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER=135, TAIL_NUMBER='N527AS', ORIGIN_AIRPORT='SEA', DESTINATION_AIRPORT='ANC', SCHEDULED_DEPARTURE=25, DEPARTURE_TIME=24, DEPARTURE_DELAY=-1, TAXI_OUT=11, WHEELS_OFF=35, SCHEDULED_TIME=235, ELAPSED_TIME=215, AIR_TIME=199, DISTANCE=1448, CANCELLED=0)]

In [17]:
df_subset.take(3)

[Row(YEAR=2015, MONTH=1, DAY=1, DAY_OF_WEEK=4, AIRLINE='AS', FLIGHT_NUMBER=98, TAIL_NUMBER='N407AS', ORIGIN_AIRPORT='ANC', DESTINATION_AIRPORT='SEA', SCHEDULED_DEPARTURE=5, DEPARTURE_TIME=2354, DEPARTURE_DELAY=-11, TAXI_OUT=21, WHEELS_OFF=15, SCHEDULED_TIME=205, ELAPSED_TIME=194, AIR_TIME=169, DISTANCE=1448, CANCELLED=0),
 Row(YEAR=2015, MONTH=1, DAY=1, DAY_OF_WEEK=4, AIRLINE='AA', FLIGHT_NUMBER=2336, TAIL_NUMBER='N3KUAA', ORIGIN_AIRPORT='LAX', DESTINATION_AIRPORT='PBI', SCHEDULED_DEPARTURE=10, DEPARTURE_TIME=2, DEPARTURE_DELAY=-8, TAXI_OUT=12, WHEELS_OFF=14, SCHEDULED_TIME=280, ELAPSED_TIME=279, AIR_TIME=263, DISTANCE=2330, CANCELLED=0),
 Row(YEAR=2015, MONTH=1, DAY=1, DAY_OF_WEEK=4, AIRLINE='US', FLIGHT_NUMBER=840, TAIL_NUMBER='N171US', ORIGIN_AIRPORT='SFO', DESTINATION_AIRPORT='CLT', SCHEDULED_DEPARTURE=20, DEPARTURE_TIME=18, DEPARTURE_DELAY=-2, TAXI_OUT=16, WHEELS_OFF=34, SCHEDULED_TIME=286, ELAPSED_TIME=293, AIR_TIME=266, DISTANCE=2296, CANCELLED=0)]

### Do some SQL queries ( use both the DataFrame and direct SQL queries )

1. Find the number of departing flights from a given airport
2. Find the total number of delayed flights on a given airport
3. Find the average delay per airport
4. Find the top 5 airports with the highest average delays
5. Find the worst airport in terms of total nb cancelled flights (cancelled=1.0)

In [18]:
# how many records do we have in total?
%time total=df_subset.count()
print('Total nb.of flights: %d' % total)
# OR in SQL
%time spark.sql("select COUNT(*) from flights").show()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 14.9 s
Total nb.of flights: 5819079
+--------+
|count(1)|
+--------+
| 5819079|
+--------+

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 1.31 s

In [19]:

# 1.2. how many flights and delayed
def statsByAirport(airport_id,df):
    from_id=df.filter(df['ORIGIN_AIRPORT']==airport_id)
    delayed=from_id.filter(df['DEPARTURE_DELAY']>=15.0)
    ndep=from_id.count()
    ndel=delayed.count()
    return (ndep,ndel)
    
airport='JFK'

n,m=statsByAirport(airport,df_subset)

print('Departing from %s : %d ' %(airport,n))
print('Delayed   from %s : %d ' %(airport,m))
print('Delayed Percentage : %f %%' %((m/n)*100))

Departing from JFK : 93811
Delayed   from JFK : 19231
Delayed Percentage : 20.499728 %

In [20]:
# 3. Average delay per flight on an airport
def averageDelay(airport_id,df):
    from_id=df.filter(df['ORIGIN_AIRPORT']==airport_id)
    return from_id.select('DEPARTURE_DELAY').describe() # returns a dataframe with descriptive statistics

airport='JFK'
df=averageDelay(airport,df_subset)

print('Airport : %s ' %(airport))
print('Average delay : %f min' %(float(df.collect()[1]['DEPARTURE_DELAY'])))

Airport : JFK
Average delay : 12.128115 min

In [21]:
# 4. Top 5 airports with highest average delay : actually easier here with SQL AVG
query = """
SELECT 
    ORIGIN_AIRPORT as origin,
    AVG(DEPARTURE_DELAY) as depdelay 
FROM 
    flights 
GROUP BY 
    origin 
ORDER BY 
    avg(DEPARTURE_DELAY) DESC
"""
df_delays=spark.sql(query)
df_delays.show()

+------+------------------+
|origin|          depdelay|
+------+------------------+
| 14222| 89.11111111111111|
|   ILG|29.391752577319586|
| 13964|          28.84375|
|   MVY| 25.90731707317073|
|   HYA|23.182926829268293|
| 10154|22.857142857142858|
| 10581| 20.11111111111111|
|   STC|18.692307692307693|
|   OTH|17.777358490566037|
|   ASE| 17.58753799392097|
| 10165|17.555555555555557|
| 14025| 17.53846153846154|
|   CEC|17.413793103448278|
|   GST| 17.17105263157895|
|   BPT| 17.02085620197585|
|   GUM|16.647590361445783|
|   ACK| 16.38888888888889|
|   UST|16.368055555555557|
|   EGE|15.744398340248962|
|   PPG|15.102803738317757|
+------+------------------+
only showing top 20 rows

---
CANCELATIONS

In [22]:
# CANCELATIONS
# 4. Top 10 airports with highest number of cancelations
query = """
SELECT 
    ORIGIN_AIRPORT as origin,
    SUM(CANCELLED) as num_cancelations
FROM 
    flights 
GROUP BY 
    origin 
ORDER BY 
    num_cancelations DESC
LIMIT 10
"""
spark.sql(query).show()

+------+----------------+
|origin|num_cancelations|
+------+----------------+
|   ORD|            8548|
|   DFW|            6254|
|   LGA|            4531|
|   EWR|            3110|
|   BOS|            2654|
|   ATL|            2557|
|   LAX|            2164|
|   SFO|            2148|
|   IAH|            2130|
|   DEN|            2123|
+------+----------------+

In [23]:
# UDF - Register a function as a UDF
# https://docs.databricks.com/spark/latest/spark-sql/udf-python.html

def squared(s):
  return s * s
spark.udf.register("squaredWithPython", squared)

In [24]:
# 5. UDF
def cancellation_reverse(airport_id):
    return airport_id[::-1]

In [25]:
spark.udf.register("cancellation_reverse", lambda x : cancellation_reverse(x))

In [26]:
# Register the function with Spark SQL as User Defined Function
# spark.udf.register("cancellation_reverse", lambda x : cancellation_reverse(x))
query = """
SELECT 
    cancellation_reverse(ORIGIN_AIRPORT) AS origin_reverse,
    SUM(CANCELLED) as num_cancelations
FROM 
    flights 
GROUP BY 
    origin_reverse 
ORDER BY num_cancelations DESC"""
spark.sql(query).show()

+--------------+----------------+
|origin_reverse|num_cancelations|
+--------------+----------------+
|           DRO|            8548|
|           WFD|            6254|
|           AGL|            4531|
|           RWE|            3110|
|           SOB|            2654|
|           LTA|            2557|
|           XAL|            2164|
|           OFS|            2148|
|           HAI|            2130|
|           NED|            2123|
|           ACD|            2027|
|           WDM|            1959|
|           KFJ|            1922|
|           IWB|            1533|
|           WTD|            1270|
|           OCM|            1118|
|           TLC|            1081|
|           LHP|            1074|
|           ANB|            1066|
|           SAL|             936|
+--------------+----------------+
only showing top 20 rows

* Save this dataframe in parquet (columnar) format for boost in loading performance
* In order to do we want to 'be clever' and partition the data by specific atributes , in this case
* Year and Month

In [27]:
# Save the data into my HOME
# IMPORTANT NOTE: we are partinioning (structuring)
# by relevant factors in our data , in this case year and month
# can be used to naturally save this data.
print('Writting...')
my_home=os.environ['HOME']
out_dir="airline_data"
df_subset.write.partitionBy(
        "YEAR","MONTH"
    ).parquet(
        "file://"
        + my_home
        +'/'
        + out_dir,
        mode='overwrite'
    )
print('Writting Completed!')

Writting...
Writting Completed!

In [29]:
os.environ['HOME']

'/home/mgadi'

### EXERCISES: 
1. Using %time, show which one is faster df_subset.count() or spark.sql("select COUNT(*) from flights").show()?
1. Report the top 10 airport with most departures in the dataset. Make both use of the DataFrame API and a direct SQL query for this.
1. What is the flight with the longest delay?
1. Report the best , top 5 , carriers ( column carrier ) in terms of smallest average departure delay on all airports. Consider a flight delayed that one where depdelay > 0 min
1. Which destinations are most likely to get delays from JFK?

In [18]:
# 2
df_subset.groupBy('ORIGIN_AIRPORT').count().orderBy('count', ascending=False).show(10)

+--------------+------+
|ORIGIN_AIRPORT| count|
+--------------+------+
|           ATL|346836|
|           ORD|285884|
|           DFW|239551|
|           DEN|196055|
|           LAX|194673|
|           SFO|148008|
|           PHX|146815|
|           IAH|146622|
|           LAS|133181|
|           MSP|112117|
+--------------+------+
only showing top 10 rows

In [20]:
# 2 CON SQL
spark.sql("""
SELECT
    ORIGIN_AIRPORT,
    COUNT(*) AS num_flights
FROM
    FLIGHTS
GROUP BY
    ORIGIN_AIRPORT
ORDER BY
    num_flights DESC
LIMIT 10
""").show()

+--------------+-----------+
|ORIGIN_AIRPORT|num_flights|
+--------------+-----------+
|           ATL|     346836|
|           ORD|     285884|
|           DFW|     239551|
|           DEN|     196055|
|           LAX|     194673|
|           SFO|     148008|
|           PHX|     146815|
|           IAH|     146622|
|           LAS|     133181|
|           MSP|     112117|
+--------------+-----------+

In [ ]:
# 3
df_subset.select()

In [31]:
# 4
df_subset.filter(df_subset['DEPARTURE_DELAY'] > 0) \
    .select('AIRLINE', 'DEPARTURE_DELAY') \
    .groupBy('AIRLINE') \
    .mean('DEPARTURE_DELAY') \
    .orderBy('avg(DEPARTURE_DELAY)', ascending=True) \
    .show(5)

+-------+--------------------+
|AIRLINE|avg(DEPARTURE_DELAY)|
+-------+--------------------+
|     HA|  16.844038518812667|
|     AS|  26.045976219988063|
|     WN|   26.95237708779179|
|     US|  28.500615360025574|
|     DL|   29.68744224907333|
+-------+--------------------+
only showing top 5 rows

In [ ]:
import timeit
# how many records do we have in total?
%time total=df_subset.count()
print('Total nb.of flights: %d' % total)
# OR in SQL
%time spark.sql("select COUNT(*) from flights").show()

In [38]:
from pyspark.sql import functions as func
# Which destinations are most likely to get delays from JFK?
df_subset \
    .filter(df_subset['ORIGIN_AIRPORT'] == 'JFK') \
    .withColumn("withDelay", df_subset['DEPARTURE_DELAY']>0) \
    .groupBy('DESTINATION_AIRPORT') \
    .agg({'withDelay': 'sum'}) \
    .show(10)

AnalysisException: cannot resolve 'sum(withDelay)' due to data type mismatch: function sum requires numeric or interval types, not boolean;
'Aggregate [DESTINATION_AIRPORT#183], [DESTINATION_AIRPORT#183, sum(withDelay#8620) AS sum(withDelay)#8661]
+- Project [YEAR#175, MONTH#176, DAY#177, DAY_OF_WEEK#178, AIRLINE#179, FLIGHT_NUMBER#180, TAIL_NUMBER#181, ORIGIN_AIRPORT#182, DESTINATION_AIRPORT#183, SCHEDULED_DEPARTURE#184, DEPARTURE_TIME#185, DEPARTURE_DELAY#186, TAXI_OUT#187, WHEELS_OFF#188, SCHEDULED_TIME#189, ELAPSED_TIME#190, AIR_TIME#191, DISTANCE#192, CANCELLED#199, (DEPARTURE_DELAY#186 > 0) AS withDelay#8620]
   +- Filter (ORIGIN_AIRPORT#182 = JFK)
      +- Project [YEAR#175, MONTH#176, DAY#177, DAY_OF_WEEK#178, AIRLINE#179, FLIGHT_NUMBER#180, TAIL_NUMBER#181, ORIGIN_AIRPORT#182, DESTINATION_AIRPORT#183, SCHEDULED_DEPARTURE#184, DEPARTURE_TIME#185, DEPARTURE_DELAY#186, TAXI_OUT#187, WHEELS_OFF#188, SCHEDULED_TIME#189, ELAPSED_TIME#190, AIR_TIME#191, DISTANCE#192, CANCELLED#199]
         +- SubqueryAlias flights
            +- View (`flights`, [YEAR#175,MONTH#176,DAY#177,DAY_OF_WEEK#178,AIRLINE#179,FLIGHT_NUMBER#180,TAIL_NUMBER#181,ORIGIN_AIRPORT#182,DESTINATION_AIRPORT#183,SCHEDULED_DEPARTURE#184,DEPARTURE_TIME#185,DEPARTURE_DELAY#186,TAXI_OUT#187,WHEELS_OFF#188,SCHEDULED_TIME#189,ELAPSED_TIME#190,AIR_TIME#191,DISTANCE#192,WHEELS_ON#193,TAXI_IN#194,SCHEDULED_ARRIVAL#195,ARRIVAL_TIME#196,ARRIVAL_DELAY#197,DIVERTED#198,CANCELLED#199,CANCELLATION_REASON#200,AIR_SYSTEM_DELAY#201,SECURITY_DELAY#202,AIRLINE_DELAY#203,LATE_AIRCRAFT_DELAY#204,WEATHER_DELAY#205])
               +- Relation [YEAR#175,MONTH#176,DAY#177,DAY_OF_WEEK#178,AIRLINE#179,FLIGHT_NUMBER#180,TAIL_NUMBER#181,ORIGIN_AIRPORT#182,DESTINATION_AIRPORT#183,SCHEDULED_DEPARTURE#184,DEPARTURE_TIME#185,DEPARTURE_DELAY#186,TAXI_OUT#187,WHEELS_OFF#188,SCHEDULED_TIME#189,ELAPSED_TIME#190,AIR_TIME#191,DISTANCE#192,WHEELS_ON#193,TAXI_IN#194,SCHEDULED_ARRIVAL#195,ARRIVAL_TIME#196,ARRIVAL_DELAY#197,DIVERTED#198,... 7 more fields] csv